<div class='player_history_title'>Wins/Tie/Loss History</div>

<table class='players_win_tie_loss_totals'>
	<tr>
		<td>Player 1 Wins</td>
		<td>{{ player1_vs_player2_totals.p1wins }}</td>
	</tr>
	<tr>
		<td>Ties</td>
		<td>{{ player1_vs_player2_totals.ties }}</td>
	</tr>
	<tr>
		<td>Player 2 Wins</td>
		<td>{{ player1_vs_player2_totals.p2wins }}</td>
	</tr>
</table>

{{ include('default/Stats/player_history.html.twig', { 'player_history': player1_history}) }}

{{ include('default/Stats/player_history.html.twig', { 'player_history': player2_history}) }}

</div>


